@model ExerciseSession
           @if (Model.ActivityType == ActivityType.Cycling)
           {
               <span>
                   @Math.Round(Model.Speed, 2).ToString("##.00")
               </span>
           }
           else
           {
               <span>
                   @string.Format("{0}:{1:00}.{2:0}", Model.Pace.Minutes, Model.Pace.Seconds, Model.Pace.Milliseconds / 100d)
               </span>
           }

