@using System.Web.Http.OData.Builder
@model IEnumerable<RunkeeperAnalyser.Domain.ExerciseSession>

@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .bodyWrapper .leftContentContainer {
         float: left;
         width: 200px;
         margin-right: 0px;
         --border-right: 1px solid #000000;
         -webkit-border-top-left-radius: 3px;
         border-top-left-radius: 3px;
         -webkit-border-bottom-left-radius: 3px;
         border-bottom-left-radius: 3px;
     }
    .leftContentContainer {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
</style>

<h2>Exercise Sessions</h2>

<div class="bodyWrapper">
    <div class="leftContentContainer">
        
        @using (Ajax.BeginForm(
            new AjaxOptions {
                HttpMethod = "get",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "exerciseSessionList" }))
        {
            <p>
                <input type="submit" value="Refresh Data"/>
            </p>
            <div class="filterBox">

                <h3>Sort By</h3>
                <input id="sortByDate" type="radio" name="sortTerm" value="DateDesc" checked/>
                <label for="sortByDate">Date Descending</label>
                <input id="sortByDate" type="radio" name="sortTerm" value="DateAsc"/>
                <label for="sortByDate">Date Ascending</label>
                <input id="sortByDistance" type="radio" name="sortTerm" value="Distance"/>
                <label for="sortByDistance">Distance</label>

            </div>
        }
    </div>
    <div class="mainContentContainer" style="min-height:553px">
  
        @Html.Partial("_ExerciseSessions", Model)

    </div>
</div>

@section Scripts {
    
}